<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<link rel="stylesheet" href="../CSS/indexx.css" />
<style>
  body {
    background-color: #eaf2f8;
  }

  .logo img {
    width: 200px;
  }


  .loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #059862;
    width: 23px;
    height: 23px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

<body>
  <div class="createAccount">
    <nav>
      <div class="logo">
        <div class="logo"><img src="./logo.png" alt="" /></div>
      </div>
      <ul>
        <li><a href="/Home">Home</a></li>
        <li><a href="./createUser">Create Users</a></li>
        <li><a href="./user">User</a></li>
        <li><a href="./createproject">Create Project</a></li>
        <li><a href="./project">Project</a></li>
        <li><a href="./createTask">Create Task</a></li>
        <li><a href="./Leave">Leave</a></li>
      </ul>
    </nav>
    <aside>
      <form class="Depositeform2">
        <h1 style="width: fit-content; margin: auto">Create Project</h1>
        <div>
          <label for="fName">Project Name:</label>
          <br />
          <input type="text" name="fName" placeholder="Project Name" required id="fname" />
        </div>
        <div>
          <label for="sdate">Start date:</label>
          <br />
          <input type="date" name="sdate" id="sdate" />
        </div>
        <div>
          <label for="edate">End date:</label>
          <br />
          <input type="date" name="edate" id="edate" />
        </div>
        {{!-- <div>
          <label for="department">Department:</label>
          <br>
          <select name="department" id="department">
            <option value="Developer">Developer</option>
            <option value="Designer">Designing</option>
            <option value="Marketing">Marketing</option>
            <option value="Testing">Testing</option>
          </select>
        </div> --}}

        <div class="btn">
          <button id="createProject-btn" onclick="validateform(event)">Create Project</button>
        </div>
      </form>
    </aside>
  </div>
</body>
<script src="../Js/index.js"></script>
<script>
  async function validateform(e) {
    e.preventDefault();
    var name = document.getElementById('fname').value;
    var regex = /^[A-Za-z\s]+/
    var test = regex.test(name);
    if (!test) {
      alert("Validation failed");
    }
    else {
      try {
        var sdate = document.getElementById('sdate').value;
        var edate = document.getElementById('edate').value;
        document.querySelector("#createProject-btn").innerHTML = `<div class="loader"></div>`
        const response = await fetch("http://localhost:7000/project", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name, start_date: sdate, end_date: edate
          }),
        });
        const errorData = await response.json();
        alert(errorData.message)
      } catch (e) {
        console.log(e.message)
        alert("Something error occured")
      } finally {
        document.querySelector("#createProject-btn").innerHTML = `Create Project`
      }
    }
  }
</script>

</html>